.about {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 143px;
	&__title  {
		padding-bottom: 21px !important;
	}
	&__info {
		@include text_20px;
		max-width: 827px;
		margin: 0 auto;
		padding-bottom: 28px;
	}
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__block-wrap {
		display: flex;
		align-items: center;
		padding-bottom: 64px;
		&:last-child {
			padding-bottom: 0;
		}
		&:nth-child(even) {
			margin-left: 50px;
			flex-direction: row-reverse;
			.about__block-img {
				margin-right: 50px;
				margin-left: 0px;
				justify-content: flex-start;
			}
		}
	}
	&__block {
		display: flex;
		flex-direction: column;
		min-width: 515px;
	}
	&__block-title {
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: #212B31;
		padding-bottom: 19px;
	}
	&__block-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #72787D;
		max-width: 500px;
	}
	&__block-img {
		display: flex;
		justify-content: flex-end;
		min-width: 416px;
		margin-left: 50px;
	}
}

@media screen and (max-width: 1000px) {
	.about__info {
		font-size: 17px;
		line-height: 26px;
	}
	.about__block-wrap {
		flex-direction: column-reverse;
		&:nth-child(even) {
			margin-left: 0;
			flex-direction: column-reverse;
			justify-content: flex-start;
			.about__block-img {
				display: flex;
				justify-content: center;
				margin-left: 0px;
				margin-right: 0;
			}
		}
		.about__block {
			min-width: 290px;
		}
		.about__block-img {
			margin-left: 0;
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}
}
}
@media screen and (max-width: 520px) {
	.about__info {
		text-align: left;
	}
	.about__block-img {
		min-width: 310px;
		img {
			width: 85%;
			height: auto;
		}
	}
}

@media screen and (max-width: 1050px) {
	.about {
		margin-bottom: 110px;
	}
}
@media screen and (max-width: 700px) {
	.about {
		margin-bottom: 90px;
	}
}
@media screen and (max-width: 500px) {
	.about {
		margin-bottom: 80px;
	}
}
