.building {
	padding-right: 15px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 144px;
	&__inner {
		max-width: 1040px;
		text-align: center;
		margin: 0 auto;
	}
	&__text {
		@include text_20px;
		max-width: 1015px;
		margin: 0 auto;
		padding-bottom: 344px;
		span {
			display: block;
		}
	&__img {
		width: 1040px;
	}
	}
}

@media screen and (max-width: 1050px) {
	.building {
		margin-bottom: 120px;
		.building__text {
			font-size: 17px;
			line-height: 26px;
			span  {
				display: initial;
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	.building {
		margin-bottom: 110px;
	}
}
@media screen and (max-width: 700px) {
	.building {
		margin-bottom: 90px;
	}
}
@media screen and (max-width: 500px) {
	.building {
		margin-bottom: 80px;
	}
}