.choice {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 149px;
	.container {
		max-width: 1180px;
	}
	&__subtitle {
		font-weight: 400;
		font-size: 20px;
		line-height: 32px;
		text-align: center;
		color: #212B31;
		padding-bottom: 55px;
	}
	&__top-wrap {
		display: flex;
		padding-bottom: 127px;
	}
	&__block-wrap {
		display: flex;
		flex-direction: column;
		padding-right: 78px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		text-align: left;
		max-width: 458px;
		position: relative;
		padding-left: 64px;
		margin-right: 27px;
		margin-bottom: 30px;
		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
		&::before {
			position: absolute;
			content: '';
			width: 48px;
			height: 48px;
			left: 0px;
			top: 0;
		}
		&--reward::before {
			background: url(../img/dest/choice/reward.svg);
		}
		&--potential::before {
			background: url(../img/dest/choice/potential.svg);
		}
		&--leader::before {
			background: url(../img/dest/choice/leader.svg);
		}
		&--palms::before {
			background: url(../img/dest/choice/palms.svg);	
		}
	}
	&__block-title {
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: #212B31;
		padding-bottom: 11px;
	}
	&__block-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #72787D;

	}
	&__slider-wrap {
		max-width: 614px;
		min-height: 516px;
		background: #F6F8F9;
	}
	&__slider {
		position: relative;
	}

	&__slider-item {
		max-width: 481px;
		min-height: 415px;
		padding-left: 86px;
		padding-top: 45px;
		display: flex !important;
		flex-direction: column;
		justify-content: space-between;
	}
	&__slider-text {
		min-width: 435px;
		font-weight: 400;
		font-size: 30px;
		line-height: 48px;
		color: #212B31;
		padding-bottom: 28px;
	}
	&__sliderBox {
		padding-left: 54px;
		position: relative;
		margin-bottom: 6px;
		&::before {
			position: absolute;
			content: '';
			width: 48px;
			height: 48px;
			left: 0;
			top: -5px;
		}
		&--volkov::before {
			background: url(../img/dest/choice/slider-Volkov.png);
		}
		&--matveev::before {
			background: url(../img/dest/choice/slider-Matveev.png);
		}
	}
	&__sliderBox-name {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #212B31;
	}
	&__sliderBox-position {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #72787D;
	}
	&__achiev {
		margin: 0 auto;
	}
	&__achiev-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 41px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__achiev-block {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-right: 119px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__achiev-img {
		text-align: center;
		margin-bottom: 32px;
		max-width: 184px;
		height: 112px;
		&--contechmap {
			padding-top: 8px;
		}
	}
	&__achiev-text {
		max-width: 139px;
		text-align: center;
		font-size: 16px;
		line-height: 19px;
		color: #72787D;
		span {
			display: block;
		}
	}
	
}

.slick-dots {
	position: absolute;
	display: flex;
	left: 15%;
	justify-content: space-between;
	width: 26px;
	top: 107%;
}


.slick-dots li img:nth-child(1) {
	display: block;
	cursor: pointer;
}

.slick-dots li img:nth-child(2) {
	display: none;
	cursor: pointer;
}

.slick-dots li.slick-active img:nth-child(1) {
	display: none;
}

.slick-dots li.slick-active img:nth-child(2) {
	display: block;
}

@media screen and (max-width: 1200px) {
	.choice__top-wrap {
		flex-direction: column;
		align-items: center;
	}
	.choice__block-wrap {
		padding-right: 0;
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 645px) {
	.choice__slider-text {
		font-size: 25px;
		line-height: 38px;
	}
	.choice__slider-wrap {
		max-width: 514px;
		min-height: 416px;
	}
	.choice__slider-item {
		max-width: 481px;
		min-height: 315px;
		padding-left: 50px;
	}
	.slick-dots {
		left: 11%;
	}
	
}

@media screen and (max-width: 1050px) {
	.choice__top-wrap {
		padding-bottom: 110px;
	}
	.choice {
		margin-bottom: 110px;
	}
}
@media screen and (max-width: 700px) {
	.choice__top-wrap {
		padding-bottom: 90px;
	}
	.choice {
		margin-bottom: 90px;
	}
}
@media screen and (max-width: 760px) {
	.choice__achiev-wrap {
		flex-direction: column;
		align-items: center;
	}
	.choice__subtitle {
		font-size: 17px;
		line-height: 21px;
	}
	.choice__block-title {
		font-size: 17px;
		line-height: 21px;
	}
	.choice__block-text {
		font-size: 15px;
		line-height: 21px;
	}
	.choice__achiev-block {
		margin: 0;
		padding-bottom: 40px;
		&:last-child {
			padding-bottom: 0;
		}
	}
	.choice__achiev-img {
		margin-bottom: 20px;
		display: flex;
		align-items: flex-end;
	}
}
@media screen and (max-width: 550px) {
	.choice__slider-wrap {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	.choice__subtitle  {
		padding-bottom: 120px;
	}
	.choice__top-wrap {
		padding-bottom: 30px;
		align-items: center;
	}
	.choice {
		margin-bottom: 80px;
	}
	.choice__block {
		text-align: center;
		margin: 0;
		padding: 0;
		max-width: 360px;
		margin-bottom: 110px;
		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
		&::before {
			left: 50%;
			transform: translateX(-50%);
			top: -60px;
		}
	}
}