.features {
	background-color: #212B31;
	position: relative;
	&__inner {
		max-width: 1275px;
		padding-left: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: auto;;
	}
	&__info{
		max-width: 589px;
		padding-top: 143px;
		padding-bottom: 127px;
	}
	&__info-title {
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #FFFFFF;
		padding-bottom: 50px;
	}
	&__item {
		padding-bottom: 24px;
		padding-left: 40px;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background: #fff;
			left: 0;
			top: 8px;
		}
	}
	&__list {
		padding-bottom: 50px;
	}
	&__item-title {
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: #FFFFFF;
		padding-bottom: 10px;
	}
	&__item-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: rgba(255, 255, 255, 0.75);
	}
	&__img {
		img {
			width: 618px;
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
	}
	&__order-btn {
		color: #212B31 !important;
		background: #FFFFFF !important;
		margin-right: 16px;
		&:hover {
			color: #FFFFFF !important;
			background: #212B31 !important;
		}
	}
	&__details-btn {
		color: #FFFFFF !important;
		background: #212B31 !important;
		border: 1px solid #DADEDF !important;
		&:hover {
			color: #212B31 !important;
			background: #FFFFFF !important;
		}
	}
	&__block-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 118px;
	}
	&__block {
		text-align: center;
	}
	&__block-img {
		padding-bottom: 19px;
	}
	&__block-title {
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: #FFFFFF;
		padding-bottom: 11px;
	}
	&__block-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: rgba(255, 255, 255, 0.75);
		max-width: 333px;
	}
}
