.footer {
	padding-right: 15px;
	padding-left: 15px;
	&__top-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 160px;
	}
	&__list-wrap {
		display: flex;
		width: 64%;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__list--contacts {
		.logo {
			img {
				width: 175px;
				height: 33px;
			}
		}
		.footer__list-item {
			padding-bottom: 0;
			margin-bottom: 10px;
			&:last-child {
				margin-top: 20px;
				margin-bottom: 0;
			}
		}
	}
	&__list-item {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #72787D;
		padding-bottom: 8px;
		&:last-child {
			padding-bottom: 0;
		}
		&--title {
			color: #212B31;
			padding-bottom: 22px;
		}
	}
	&__social {
		display: flex;
		align-items: center;
	}
	&__social-wrap {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			.change-color {
				fill-opacity: 1;
				transition: all 0.4s ease
			}
		}
	}
	&__rights {
		display: flex;
		min-height: 90px;
		justify-content: start;
		align-items: center;
		border-top: 1px solid #DADEDF;
	}
	&__rights-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #72787D;
	}
}

@media screen and (max-width: 750px) {
	.footer__top-wrap {
		flex-direction: column;
		align-items: center;
	}
	.footer__list--contacts {
		text-align: center;
		padding-bottom: 20px;
	}
	.footer__social {
		justify-content: center;
		text-align: center;
		margin-bottom: 30px;
	}
	.footer__list-wrap {
		width: 90%;
	}
}
@media screen and (max-width: 520px) {
	.footer__list-wrap {
		width: 90%;
		flex-direction: column;
		align-items: center;
	}
	.footer__list {
		margin-bottom: 20px;
	}
	.footer__list--contacts {
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.footer__list-item {
		text-align: center;
		padding-bottom: 0;
	}
	.footer__list-item--title {
		padding-bottom: 5px;
	}
}

@media screen and (max-width: 405px) {
	.footer__rights {
		min-height: 70px;
	}
	.footer__rights-text {
		font-size: 14px;
	}
} 
@media screen and (max-width: 355px) {
	.footer__rights {
		min-height: 40px;
	}
	.footer__rights-text {
		font-size: 12px;
	}
} 


@media screen and (max-width: 1050px) {
	.footer__top-wrap {
		padding-bottom: 110px;
	}
}
@media screen and (max-width: 700px) {
	.footer__top-wrap {
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 500px) {
	.footer__top-wrap {
		padding-bottom: 20px;
	}
	.footer__rights {
		justify-content: center;
	}
}