.offer {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 150px;
	&__title {
		padding-right: 38px;
		padding-left: 38px;
		padding-top: 117px;
		padding-bottom: 54px;
		line-height: 64px;
		font-weight: 400;
		font-size: 48px;
		
		text-align: center;
		color: #212B31;
	}
	&__buttons {
		padding-bottom: 117px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__order {
		margin-right: 16px;
	}
}

@media screen and (max-width: 1100px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.offer__title {
		font-size: 40px;
		line-height: 50px;
	}
}
@media screen and (max-width: 925px) {
	.offer__title {
		font-size: 32px;
		line-height: 35px;
		padding-top: 97px;
		padding-bottom: 40px;
	}
}
@media screen and (max-width: 755px) {
	.offer__title {
		font-size: 25px;
		line-height: 25px;
		padding-top: 87px;
		padding-bottom: 35px;
	}
	.offer__buttons {
		padding-bottom: 80px;
	}
}
@media screen and (max-width: 755px) {
	.offer__title {
		font-size: 22px;
		line-height: 20px;
		padding-top: 77px;
		padding-bottom: 30px;
	}
	.offer__buttons {
		padding-bottom: 60px;
	}
}
@media screen and (max-width: 555px) {
	.offer__buttons {
		flex-direction: column;
		align-items: center;
		width: 200px;
		margin: 0 auto;
	}
	.offer__connect {
		width: 100%;
		font-size: 17px !important;
	}
	.offer__order {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 410px) {
	.offer__title {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 1050px) {
	.offer {
		margin-bottom: 110px;
	}
}
@media screen and (max-width: 700px) {
	.offer {
		margin-bottom: 90px;
	}
}
@media screen and (max-width: 500px) {
	.offer {
		margin-bottom: 80px;
	}
}