.skills {
	margin-bottom: 71px;
	&__title {
		padding-bottom: 168px !important;
		span {
			display: block;
		}
	}
	&__inner {
		display: flex;
		max-width: 1006px;
		margin: 0 auto;
	}
	&__info {
		max-width: 542px;
	}
	&__info-title {
		text-align: left !important;
	}
	&__info-par {
		@include text_20px;
		text-align: left;
		padding-bottom: 28px;
	}
	&__img {
		max-width: 464px;
	}

}

@media screen and (max-width: 1000px) {
	.skills__inner {
		flex-direction: column-reverse;
		align-items: center;
	}
	.skills__info-par {
			font-size: 17px;
			line-height: 26px;
	}
	.skills__img {
		margin-bottom: 50px;
		img {
			width: 100%;
			height: auto;
		}
	}
}
@media screen and (max-width: 1050px) {
	.skills__title {
		padding-bottom: 90px !important;
	}
}
@media screen and (max-width: 700px) {
	.skills__title {
		padding-bottom: 70px !important;
	}
}
@media screen and (max-width: 500px) {
	.skills__title {
		padding-bottom: 60px !important;
	}
}