.skills {
	margin-bottom: 71px;
	&__title {
		padding-bottom: 168px !important;
		span {
			display: block;
		}
	}
	&__inner {
		display: flex;
		max-width: 1006px;
		margin: 0 auto;
	}
	&__info {
		max-width: 542px;
	}
	&__info-title {
		text-align: left !important;
	}
	&__info-par {
		@include text_20px;
		text-align: left;
		padding-bottom: 28px;
	}
	&__info-text {
		font-weight: 400;
		font-size: 20px;
		line-height: 32px;
		color: #212B31;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 250px;
			height: 16px;
			background: #FFD042;
			left: 0;
			bottom: 0;
			z-index: -1;

		}
	}
	&__img {
		width: 464px;
	}

}